
h1{
    background-color: blue;
}
.myborder1{
    border-width:4px;
    border-color: chocolate;
    border-style: dashed;
}
.myborder2{
    border:4px dotted;
}
.mybrdermargin{
    border:4px double;
    margin:4px;
    border-radius:8px;   
}
.mybrdrmarg{
    border:4px dashed rgb(14,30,180);
    border-radius:8px;
    margin:4px;
    padding:4px
}